*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Output test files
downloaded_output.csv
downloaded_output.yaml
downloaded_sftp_output.csv

# SFTP SSH key pair
sftp_key
sftp_key.pub
.DS_Store
